@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Colors */
  --very-dark-blue: #121417;
  --dark-blue: #1d2225;
  --dark-grey: #262b2e;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d2225;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121417;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: "Arvo", serif;
  margin: 0;
  padding: 0;
  color: white;
}

html {
  /* Used for <a> linking to items inside the page so the target isnt hidden by the navbar */
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

/* Prevent Default */
a {
  text-decoration: none;
  color: rgb(81, 112, 156);
}

a:hover {
  text-decoration: none;
  color: rgb(47, 62, 112);
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  background-color: var(--dark-blue);
}

main {
  min-height: 100%;
  padding-bottom: 32px;
  margin-top: 8px;
  z-index: 1;
}

strong {
  color: rgb(113, 128, 144);
}

/* Stars (Rating) */
.fa-star {
  color: #555;
}

.star-checked {
  color: orange;
}

.stars {
  width: fit-content;
}

/*----------- BODY / MAIN -----------*/

/*-- INDEX/HERO --*/
#index-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [nav] 70px [main] min-content [footer] 250px;
}

#index-main {
  /* Main subgrid relative to Body grid */
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-columns: 1fr;
  grid-template-rows: [hero] min-content [about] min-content;
}

.hero-section {
  /* Hero subgrid relative to Main grid */
  font-size: 200%;
  display: grid;
  grid-row: 1/2;
  grid-column: 1/1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 10vw);
}

#hero-title1 {
  /* H1 Hero Title positioned in the hero subgrid */
  font-size: 200%;
  grid-column: 4/9;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

#hero-title2 {
  /* H2 Hero Title positioned in the hero subgrid */
  font-size: 150%;
  grid-column: 5/10;
  grid-row: 2/3;
  justify-self: center;
}

.hero-image-wrapper {
  /* Hero image positioning on the hero grid */
  grid-column: 2/4;
  grid-row: 1/3;
  justify-self: center;
}

.hero-image-wrapper img {
  /* Hero Image Scaling */
  width: 25rem;
  height: 25rem;
}
.hero-buttons {
  /* Specific rule for the hero button (> Our Courses)*/
  font-size: 150%;
  grid-column: 6/8;
  grid-row: 3/4;
  justify-self: center;
}

.about-section {
  /* About section subgrid relative to Main grid */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 6rem);
  display: grid;
  grid-row: 2/3;
}

.about-details {
  /* Generic rule for text inside the about section of the index page */
  font-size: 180%;
}

.about-image-wrapper img {
  /* Image scaling for about text in index */
  height: 15rem;
  width: 25rem;
}

#about-info-box1 {
  /* Flexbox with text and image, placed in the about section grid */
  display: flex;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  grid-column: 1/11;
  grid-row: 1/4;
  margin-left: 50px;
  margin-right: 50px;
}

#about-info-box2 {
  /* Flexbox with image and text, placed in the about section grid */
  display: flex;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  flex-direction: row-reverse;
  grid-column: 1/11;
  grid-row: 5/7;
  margin-left: 50px;
  margin-right: 50px;
}

#about-info-box3 {
  /* Flexbox with text and image, placed in the about section grid */
  display: flex;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  grid-column: 1/11;
  grid-row: 8/11;
  margin-left: 50px;
  margin-right: 50px;
}

/*-------- CONTENT PAGES --------*/

.return-link {
  /* Styling for the return link found in all pages except index */
  margin-bottom: 4px;
  margin-left: 16px;
  padding: 6px;
  margin-right: 8px;
  width: fit-content;
  height: fit-content;
  z-index: 2;
  background-color: #16191c;
  border: var(--dark-grey) solid 1px;
  border-radius: 4px;
  top: 10vh;
}

.return-link a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.return-link a:hover {
  text-decoration: underline;
  color: rgb(81, 112, 156);
}

.return-link a svg {
  transition: transform 0.2s ease 0s; /*Transition settings*/
}

.return-link a:hover svg {
  transform: translateX(-2px);
}

/* Courses page */
#courses-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [nav] 70px [header] 5em [main] min-content [footer] 250px;
}

.courses-header {
  padding-left: 16px;
  font-size: 1.4em;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#courses-body main {
  grid-row: 3/4;
}

.all-courses {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.course-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-container:nth-child(odd) {
  background-color: #16191c;
}
.course-container:nth-child(even) {
  background-color: #19182c;
}

.courses-description {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.courses-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-subheader h2 {
  font-size: 2em;
}

.courses-description ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1em;
}

.courses-description li {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.courses-description li:nth-child(1) {
  grid-column: 1/2;
}
.courses-description li:nth-child(2) {
  grid-column: 2/3;
}
.courses-description li:nth-child(3) {
  grid-column: 3/4;
}
.courses-description li:nth-child(4) {
  grid-column: 4/5;
}
.courses-description li:nth-child(5) {
  grid-column: 5/6;
}

.courses-image {
  /*center the image in the container*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-link {
  /* Course Link is extra sized on the font compared to the previous texts so it is visibly a different part of the description */
  padding-top: 24px;
  font-size: 0.8em;
}

/* Individual Course Pages */
.course-body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: [nav] 70px [main-header] 5em [main] min-content [footer] 250px;
}

/* Course Sidebar */
.course-sidebar {
  top: 16vh;
  background-color: #16191c;
  height: 70vh;
  max-width: 300px;
  padding-top: 12px;
  border: var(--dark-grey) solid 1px;
  box-shadow: 5px 3px rgba(18, 20, 23, 0.1);
  z-index: 3;
  margin-left: 16px;
  margin-right: 8px;
  margin-top: 4px;
  overflow: scroll;
  overflow-x: hidden;
}

.course-sidebar h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 1.1em;
  font-weight: 400;
  border-bottom: var(--dark-grey) solid 2px;
}

.course-sidebar ol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.course-sidebar li {
  display: block;
  padding: 12px;
}

.course-sidebar a {
  color: white;
}

.course-sidebar a:hover {
  text-decoration: underline;
}

.content-body .course-sidebar ol {
  list-style-type: decimal;
}

/* Course Aside */
.course-body aside {
  grid-column: 3/4;
  grid-row: 3/4;
  margin-right: 1.5rem;
  position: relative;
}

.course-aside {
  /* flexbox container with aside content */
  background-color: #16191c;
  max-width: 300px;
  border: var(--dark-grey) solid 1px;
  box-shadow: -5px -3px rgba(18, 20, 23, 0.1);
  z-index: 3;
  margin-left: 16px;
  margin-right: 8px;
  margin-top: 4px;
  padding: 16px 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 20%;
  gap: 4px;
}

.course-aside-content {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.course-aside-content a:hover {
  text-decoration: underline;
  color: white;
}

.course-aside-img-wrapper img {
  max-height: 100px;
}

.aside-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.aside-button-left {
  transform: rotate(180deg);
}

/* Course Main */
.course-body main {
  grid-column: 2/3;
  grid-row: 3/4;
}

.course-header {
  grid-row: 2/3;
  grid-column: 2/4;
  font-size: 1.4em;
}

.course-header h1 {
  margin-bottom: 24px;
  margin-left: 16px;
  margin-top: 8px;
}

.course-header h2 {
  font-size: 1.1em;
  margin-bottom: 24px;
}

.course-header h3 {
  font-size: 1.2em;
  margin-left: 0;
}

.course-header h3 a {
  text-decoration: underline;
}
.course-description {
  margin-left: 2%;
  margin-right: 1%;
}
.course-description-text {
  font-size: 1.1em;
  margin-bottom: 1.5%;
}

.course-description ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-description ol li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 8px;
}

.course-description ol li:nth-child(odd) {
  background-color: #16191c;
}
.course-description ol li:nth-child(even) {
  background-color: #19182c;
}

/* Subcourse page */
.course-content ul {
  /* Removes the unwanted styling for each list element */
  list-style: none;
}

.subcourse-header h1 {
  /* Placed inside the course content grid */
  font-size: 300%;
  color: rgb(130, 126, 139);
  margin-left: 3%;
  margin-right: 5%;
}

.subcourse-header h2 {
  /* Headers styled to achieve an inline look and distinguishable hierarchy with other header ranks */
  font-size: 260%;
  margin-left: 5%;
  color: rgb(93, 90, 100);
  margin-top: 3%;
}

.course-image img {
  /* Used to place images between course description texts */
  height: 7%;
  width: 21%;
  /* Extra left margin (+1% compared to text) is used to create the look of the image being inside the description textbox */
  margin-left: 13%;
  margin-right: 1%;
  float: left;
}

/* ---------------- Subcourse Page Specific Layout ---------------- */
.subcourse-body {
  /* Basic Grid */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: [nav] 70px [header] min-content [page-content] min-content [footer] 250px;
}
.subcourse-body main {
  grid-column: 2/3;
  grid-row: 3/4;
}
.subcourse-content {
  /* Course Content subgrid inside Main grid */
  display: flex;
  grid-column: 2/3;
  grid-row: 3/4;
  flex-direction: column;
  justify-content: space-between;
}

.subcourse-books {
  /* Flexbox of books placed inside the course content grid */
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 8%;
}

.subcourse-lectures {
  /* Flexbox of lectures placed inside the course content grid */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-left: 8%;
  margin-top: 15%;
}

.subcourse-header {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* ------------- Content Page Specific Layout --------------- */
.content-body {
  /* Basic Grid */
  height: 100vh;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: [nav] 70px [header] 5em [main] min-content [footer] 250px;
}

.content-body main {
  grid-column: 2/3;
  grid-row: 3/4;
}

.content-content {
  /* Content subgrid inside Main grid */
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.content-details {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

.content-header {
  margin-top: 1%;
  grid-column: 2/3;
  grid-row: 2/3;
}

/*-------- Book Card Rules --------*/

.book-card {
  margin-top: 8%;
  border: 0.3rem solid black;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 3%;
  background-color: #0d0f10;
}

.book-card-image-wrapper img {
  /* Book Image is floated to the right of the text and wrapped around it */
  width: 25%;
  height: 50%;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-right: 5%;
  float: right;
}

.book-card-details {
  /* General rule for the text inside the description box for the book */
  font-size: 180%;
  margin-right: 5%;
}
.book-card-title {
  /* Specific rule for the title of the book */
  font-size: 125%;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 3%;
}

.book-authors {
  /* Specific rule for the author(s) of the book */
  margin-bottom: 1%;
  font-weight: bolder;
}
.book-publishers {
  /* Specific rule for the publisher(s) of the book */
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bolder;
}

.book-pages {
  /* Specific rule for the pages of the book */
  margin-bottom: 2%;
  font-style: italic;
}

.book-rating {
  /* Specific rule for the rating of the book */
  margin-bottom: 2%;
  font-style: italic;
}

.book-description {
  /* Specific rule for the description of the book */
  margin-top: 3%;
}

/*----------- Lecture Card Rules -----------*/

.lecture-card {
  margin-top: 8%;
  border: 0.3rem solid black;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 3%;
  background-color: #0d0f10;
}

.lecture-card-image-wrapper img {
  /* Lecture Image is floated to the right of the text and wrapped around it, follows a similar design to book cards */
  width: 40%;
  height: 30%;
  margin-left: 5%;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-right: 20%;
  float: right;
}

.lecture-card-details {
  /* General rule for the text inside the description box for the lecture */
  font-size: 180%;
  margin-right: 10%;
}

.lecture-card-title {
  /* Specific rule for the title of the lecture */
  font-size: 125%;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 3%;
}

.lecture-contributors {
  /* Specific rule for the contributor(s) of the lecture */
  margin-bottom: 2%;
  font-weight: bolder;
}

.lecture-description {
  /* Specific rule for the description of the lecture */
  margin-top: 3%;
}

.lecture-duration {
  /* Specific rule for the duration of the lecture */
  margin-bottom: 2%;
  font-style: italic;
}

.lecture-rating {
  /* Specific rule for the rating of the lecture */
  margin-bottom: 2%;
  font-style: italic;
}

/*--------- Specific Content Rules ---------*/
.content {
  /* General rule for the text of a specific content (full book or full lecture showcase) page */
  font-size: 180%;
}

.content-header h1 {
  /* Content headers are styled so that they DO NOT give off an inline look */
  font-size: 170%;
  color: rgb(130, 126, 139);
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.content-header h2 {
  /* Content headers are styled so that they DO NOT give off an inline look */
  font-size: 160%;
  color: rgb(93, 90, 100);
  margin-top: 3%;
}

.content-title {
  /* Used in the full book showcase pages to emphasize the full title of the book including edition*/
  font-size: 150%;
  margin-bottom: 2%;
}

.content-creator {
  /* Specific rule for the creator of content */
  margin-bottom: 2%;
}

.content-date {
  /* Specific rule for the date of content */
  margin-bottom: 2%;
}

.content-description {
  /* Specific rule for the description of content */
  margin-bottom: 2%;
}

.content-rating {
  /* Specific rule for the rating of content */
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.content ul {
  /* Specific rule for the styling of UL for the details of content */
  list-style-type: square;
}

.book-chapters,
.lecture-videos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.lecture-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding: 16px;
}

.lecture-video-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.chapter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.content-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-list li {
  /* Specific rule for table of content list items to have a small gap*/
  list-style: none;
}

.content-list li:nth-child(odd) {
  /* Rule used to differentiate list items in large lists (used for Table Of Contents and chapter-lecture lists) 
     makes it easier for the eyes to see each list item seperately. */
  background-color: var(--very-dark-blue);
}

.content-list li:nth-child(even) {
  /* Rule used to differentiate list items in large lists (used for Table Of Contents and chapter-lecture lists) 
     makes it easier for the eyes to see each list item seperately. */
  background-color: #19182c;
}

code {
  /* Specific rule for the code snippets inside content lists*/
  background-color: rgb(0, 0, 0);
}

.return-to-top-btn-area {
  grid-row: 2/4;
  grid-column: 3/4;
  position: relative;
}

.return-to-top-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  height: 85vh;
  top: 70px;
}

.return-to-top-btn {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: none;
  position: sticky;
  top: 5em;
  background-color: rgb(93, 90, 100);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.return-to-top-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*-------- About Us Page --------*/
#about_us-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [nav] 70px [header] 5em [main] min-content [footer] 250px;
}

.about-us-header {
  grid-row: 2/3;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

#about_us-body main {
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
}

.about-members {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.about-members ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}

.about-members h2 {
  font-size: 2em;
  padding-left: 32px;
}

.member {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.member-description {
  font-style: italic;
}

.member-image-wrapper img {
  /* Specific rule for the member's profile picture, inline look*/
  max-width: 250px;
}

.about-contact-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.about-contact-us h2 {
  font-size: 2em;
  padding-left: 32px;
}

.about-contact-us ul {
  font-size: 1.5em;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

/*----------- HEADER / NAVBAR -----------*/
header {
  position: fixed; /*Fixed header position*/
  top: 0;
  width: 100%;
  z-index: 9999; /*High z-index, always on top in the page*/
  grid-column: 1/4;
  grid-row: 1/2;
}

.navbar {
  background-color: var(--very-dark-blue);
  height: 70px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  height: inherit;
}

.navbar li {
  display: inline-block;
  margin: 0 2px;
  height: 100%;
}

.navbar li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 4px;
  color: white;
}

/* Change color and background color on link hover*/
.navbar li a:hover {
  color: var(--very-dark-blue);
  background-color: white;
}

.nav-image-wrapper {
  width: fit-content;
  height: fit-content;
}

.nav-image-wrapper a {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 56px;
  height: 56px;
}

/* Navbar Links Dropdown*/
.courses-dropdown {
  display: none;
  width: 14em;
  background-color: var(--very-dark-blue);
  position: fixed;
  top: 4.4em;
  right: 1em;
}

.courses-dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.courses-dropdown li {
  height: 2.5em;
  width: 100%;
}

.courses-dropdown li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  color: white;
  padding: 0 12px;
}

.courses-dropdown li a svg {
  fill: white;
  transform: rotate(90deg);
}

.courses-dropdown li a:hover {
  color: var(--very-dark-blue);
  background-color: white;
}

.courses-dropdown li a:hover svg {
  fill: var(--very-dark-blue);
  transform: rotate(0);
}

.subcourses-dropdown {
  display: none;
  width: 14em;
  background-color: var(--very-dark-blue);
  position: fixed;
  right: 15em;
}

.subcourses-dropdown li {
  height: 3em;
}

/*----------- Footer -----------*/
footer {
  grid-row: -1/-2;
  grid-column: 1/4;
  background-color: var(--very-dark-blue);
  padding: 80px;
  padding-left: 24px;
  margin-top: 32px;
}

.footer-contents {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-right {
  max-width: 550px; /*Max width of footer base contents no more than 550 pixels*/
}

/*Footer contact us, privacy policy and terms of service links*/
.footer-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

/*Contact us icons*/
.footer-contact-us {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/*Invert the color of the icons*/
.footer-contact-us a svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg)
    brightness(101%) contrast(104%);
}

.footer-contact-us a {
  display: block;
  width: 28px; /*Set width same as icon's*/
  height: 28px; /*Set height same as icon's*/

  transition: transform 0.2s ease 0s; /*Transition settings*/
}

/*Link hovered transition*/
.footer-contact-us a:hover {
  transform: translateY(-4px); /*When link hovered move it up 4 pixels*/
}

/*Privacy Policy and Terms of Service links*/
.footer-privacy-terms a {
  margin: 0 8px;
}
/*Underline on hover*/
.footer-privacy-terms a:hover {
  text-decoration: underline;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-text p {
  font-size: small;
}

.footer-copyright {
  margin-top: 24px;
  font-size: small;
}

/* Sidebars area */
.sidebar-area {
  position: relative;
  grid-row: 2/4;
  grid-column: 1/2;
}

.sidebar-container {
  position: sticky;
  top: 5em;
}

/* For pages with only return button and not a whole sidebar*/
.button-area {
  position: fixed;
  top: 5em;
  z-index: 2;
}
