@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Colors */
  --very-dark-blue: #121417;
  --dark-blue: #1d2225;
  --dark-grey: #262b2e;
}

* {
  font-family: "Arvo", serif;
  margin: 0;
  padding: 0;
  color: white;
}

/* Prevent Default */
a {
  text-decoration: none;
  color: rgb(81, 112, 156);
}

a:hover {
  text-decoration: none;
  color: rgb(47, 62, 112);
}

body {
  padding-top: 70px; /*Since the height of the navbar is 70px and the header is fixed*/
  height: 100vh;
  background-color: var(--dark-blue);
}

main {
  min-height: 100%;
}

strong {
  color: rgb(113, 128, 144);
}

/*----------- BODY / MAIN -----------*/

/*-- INDEX/HERO --*/

.hero-title h1 {
  margin-top: 4%;
  margin-left: 5%;
  font-size: 400%;
}

.hero-title h2 {
  margin-top: 1%;
  margin-left: 10%;
  font-size: 320%;
}

.hero-image-wrapper img {
  width: 25%;
  height: 25%;
  margin-left: 70%;
  margin-bottom: 4%;
}
.hero-buttons {
  font-size: 350%;
  margin-left: 20%;
  margin-bottom: 15%;
}

.about-details {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 180%;
  margin-bottom: 5%;
  margin-top: 10%;
}

.about-image-wrapper img {
  height: 30%;
  width: 50%;
  margin-left: 15%;
  margin-bottom: 3%;
}

/*-------- CONTENT PAGES --------*/
.return-link {
  margin-left: 1%;
  margin-bottom: 2%;
}

.course-header h1 {
  font-size: 350%;
  margin-left: 2%;
  margin-bottom: 1%;
  color: rgb(80, 65, 121);
}

.course-header h2 {
  font-size: 300%;
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 4%;
  color: rgb(99, 106, 179);
}

.course-header h3 {
  /* This tag is usually paired with course-description ol */
  margin-bottom: 3%;
  margin-left: 2%;
}

.course-image img {
  height: 10%;
  width: 25%;
  margin-bottom: 2%;
  margin-left: 11%;
}

.course-description-text {
  margin-left: 12%;
  margin-right: 14%;
  font-size: 170%;
  margin-bottom: 2%;
}

.course-description ol {
  font-size: 200%;
  padding-left: 15%;
  padding-bottom: 5%;
}

.course-link {
  font-size: 190%;
  margin-left: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.book-card-image-wrapper img {
  width: 25%;
  height: 50%;
  margin-left: 20%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.book-card-details {
  font-size: 180%;
  margin-left: 15%;
  margin-right: 10%;
}
.book-card-title {
  font-size: 125%;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 3%;
}

.book-authors {
  margin-bottom: 1%;
  font-weight: bolder;
}
.book-publishers {
  margin-top: 2%;
  margin-bottom: 1%;
  font-weight: bolder;
}
.book-description {
  margin-bottom: 3%;
  margin-top: 3%;
}
.book-pages {
  margin-bottom: 2%;
  font-style: italic;
}

.book-rating {
  margin-bottom: 10%;
  font-style: italic;
}

.lecture-card-image-wrapper img {
  width: 40%;
  height: 30%;
  margin-left: 20%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.lecture-card-details {
  font-size: 180%;
  margin-left: 15%;
  margin-right: 10%;
}

.lecture-card-title {
  font-size: 125%;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 3%;
}

.lecture-contributors {
  margin-bottom: 1%;
  font-weight: bolder;
}

.lecture-description {
  margin-bottom: 3%;
  margin-top: 3%;
}

.lecture-duration {
  margin-bottom: 2%;
  font-style: italic;
}

.lecture-rating {
  margin-bottom: 10%;
  font-style: italic;
}
/*----------- HEADER / NAVBAR -----------*/
header {
  position: fixed; /*Fixed header position*/
  top: 0;
  width: 100%;
  z-index: 9999; /*High z-index, always on top in the page*/
}

.navbar {
  background-color: var(--very-dark-blue);
  height: 70px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  height: inherit;
}

.navbar li {
  display: inline-block;
  margin: 0 2px;
  height: 100%;
}

.navbar li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 4px;
  color: white;
}

/* Change color and background color on link hover*/
.navbar li a:hover {
  color: var(--very-dark-blue);
  background-color: white;
}

.nav-image-wrapper {
  width: fit-content;
  height: fit-content;
}

.nav-image-wrapper a {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 56px;
  height: 56px;
}

/*----------- Footer -----------*/
footer {
  margin-top: 8px;
  height: 156px;
  background-color: var(--very-dark-blue);
  padding: 16px;
  padding-left: 24px;
}

.footer-contents {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-right {
  max-width: 550px; /*Max width of footer base contents no more than 550 pixels*/
}

/*Footer contact us, privacy policy and terms of service links*/
.footer-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

/*Contact us icons*/
.footer-contact-us {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/*Invert the color of the icons*/
.footer-contact-us a svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg)
    brightness(101%) contrast(104%);
}

.footer-contact-us a {
  display: block;
  width: 28px; /*Set width same as icon's*/
  height: 28px; /*Set height same as icon's*/

  transition: transform 0.2s ease 0s; /*Transition settings*/
}

/*Link hovered transition*/
.footer-contact-us a:hover {
  transform: translateY(-4px); /*When link hovered move it up 4 pixels*/
}

/*Privacy Policy and Terms of Service links*/
.footer-privacy-terms a {
  margin: 0 8px;
}
/*Underline on hover*/
.footer-privacy-terms a:hover {
  text-decoration: underline;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-text p {
  font-size: small;
}

.footer-copyright {
  font-size: small;
}
