@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Colors */
  --very-dark-blue: #121417;
  --dark-blue: #1d2225;
  --dark-grey: #262b2e;
}

* {
  font-family: "Arvo", serif;
  margin: 0;
  padding: 0;
  color: white;
}

/* Prevent Default */
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  color: white;
}

body {
  padding-top: 70px; /*Since the height of the navbar is 70px and the header is fixed*/
  height: 100vh;
  background-color: var(--dark-blue);
}

main {
  min-height: 100%;
}

/*----------- HEADER / NAVBAR -----------*/
header {
  position: fixed; /*Fixed header position*/
  top: 0;
  width: 100%;
  z-index: 9999; /*High z-index, always on top in the page*/
}

.navbar {
  background-color: var(--very-dark-blue);
  height: 70px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  height: inherit;
}

.navbar li {
  display: inline-block;
  margin: 0 2px;
  height: 100%;
}

.navbar li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 4px;
  color: white;
}

/* Change color and background color on link hover*/
.navbar li a:hover {
  color: var(--very-dark-blue);
  background-color: white;
}

.nav-image-wrapper {
  width: fit-content;
  height: fit-content;
}

.nav-image-wrapper a {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 56px;
  height: 56px;
}

/*----------- Footer -----------*/
footer {
  margin-top: 8px;
  height: 240px;
  background-color: var(--very-dark-blue);
  padding: 16px;
  padding-left: 24px;
}

.footer-contents {
  max-width: 550px; /*Max width of footer base contents no more than 550 pixels*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/*Footer contact us, privacy policy and terms of service links*/
.footer-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

/*Contact us icons*/
.footer-contact-us {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/*Invert the color of the icons*/
.footer-contact-us a svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg)
    brightness(101%) contrast(104%);
}

.footer-contact-us a {
  display: block;
  width: 28px; /*Set width same as icon's*/
  height: 28px; /*Set height same as icon's*/

  transition: transform 0.2s ease 0s; /*Transition settings*/
}

/*Link hovered transition*/
.footer-contact-us a:hover {
  transform: translateY(-4px); /*When link hovered move it up 4 pixels*/
}

/*Privacy Policy and Terms of Service links*/
.footer-privacy-terms a {
  margin: 0 8px;
}
/*Underline on hover*/
.footer-privacy-terms a:hover {
  text-decoration: underline;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-text p {
  font-size: small;
}

.footer-copyright {
  font-size: small;
}

/*----------- SUBCOURSE MAIN -----------*/

/*Main Content*/
.main-container {
  margin-top: 12px;
  padding: 0 24px;
}

/*Return Button*/
.return-button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin-bottom: 12px;
}
/*Return Button on hover*/
.return-button:hover {
  text-decoration: underline;
}

/*Main Header*/
.main-container h1 {
  margin-bottom: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*Content Subheader*/
.container h2 {
  margin-bottom: 12px;
}

/*Book*/

/*Book Wrapper*/
.book-card {
  background-color: var(--dark-grey);
  border: 2px solid var(--very-dark-blue);
  border-radius: 12px;
  padding: 8px;
  min-width: 200px;
}

/*Book Image Wrapper*/
.book-card-image-wrapper {
  width: fit-content;
  height: fit-content;
}
.book-card-image-wrapper a {
  display: block;
  height: 100%;
}

.book-card-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
